.body {
    background: radial-gradient(905px at 4.9% 85.8%, rgb(255, 243, 242) 0.1%, rgb(255, 247, 220) 57.6%);
}

.about-image {
    margin: 280px 80px 0px 0px;
    border-radius: 20px;

}

.contact a {
    text-decoration: none;
}

nav {
    padding: 20px;
    background-color: #B488A8;
    font-family: "dancing script",
        cursive;
    font-size: 20px;
}

.profile-pic {
    border-radius: 20px;
    box-shadow: 0 9px 15px #ff9a3c;
}

nav ul {
    margin: 35px;
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    cursor: hand;
    color: #fff;
}

button {
    display: block;
    justify-content: center;
    margin: 20px auto;
    background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
    ;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    padding: 8px 15px;
    font-family: 'Tangerine',
        serif;
}

button:hover {
    cursor: hand;
    color: black;
    background: #ff9a3c;
}

h1 {
    margin: 20px;
    text-align: center;
    font-family: 'Tangerine', serif;
    font-size: 80px;
    text-shadow: 4px 4px 4px #aaa;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'Cedarville', cursive;
    text-shadow: 6px 6px 6px #aaa;
    color: #393e46;
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro,
.intro-2 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 9px 15px #ff9a3c;
    background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
    margin: 20px;
    border-radius: 30px 60px;
}


h4 {
    margin: 80px 80px 0px;
    font-size: 50px;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}

h3 {
    font-family: 'Tangerine', serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.image {
    position: relative;
    overflow: hidden;
    margin: 45px;
    box-shadow: 0 9px 15px #ff9a3c;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
}


.overlay p {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    font-family: "dancing script";
    font-size: 20px;
}

.image:hover .overlay p {
    transform: translateY(0);
}

footer {
    margin: 40px;
    text-align: center;
}

.social-links a {
    margin: 30px 15px;
    padding: 12px 18px;
    font-size: 25px;
    color: #ff9a3c;
    border-radius: 50%;
    background-color: #393e46;
    width: 20px;
}

footer .social-links a:hover {
    color: #aaa;
}

.netlify a {
    padding: 12px 18px;
    font-size: 18px;
    color: #ff9a3c;
    text-decoration: none;
}

.netlify {
    text-align: center;
    margin: 30px;
    font-family: "dancing script",
        cursive;
}

@media (max-width: 900px) {


    .intro {
        margin: 30px;
    }

    .image {
        margin: 0px 0px 10px 5px;
    }

    .overlay p {
        font-size: 15px;
    }


    h3,
    .contact {
        font-size: 15px;
    }

    h1,
    h2 {
        font-size: 30px;
    }

    .intro,
    .intro-2 {
        font-size: 15px;

    }

    nav {
        padding: 0;
        font-size: 15px;
    }

    .profile-pic {
        display: none;
    }

    .about-image {
        width: 250px;
        margin: 0 50px 30px;

    }



    h4 {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .social-links a {
        font-size: 10px;
        margin: 10px 25px;
        padding: 7px 10px;

    }

    footer {
        margin: 10px;

    }

    .netlify {
        font-size: 15px;
    }
}